@import url("https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap");
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

a {
  text-decoration: none;
  color: inherit;
}

textarea {
  resize: none;
}

button {
  border: none;
  outline: none;
}

html,
body {
  min-height: 100%;
}

body {
  font-size: 1rem;
  font-weight: 400;
  font-family: "DM Sans", "Bebas Neue" sans-serif;
  color: #555;
  line-height: 160%;
  /* 2.4rem */
  background-color: #fff;
}
body.lock {
  overflow: hidden;
}

.wrapper {
  min-height: 100%;
  display: flex;
  flex-direction: column;
  overflow-x: hidden;
}

.wrapper main {
  flex-grow: 1;
}

[class*=__container] {
  box-sizing: border-box;
  max-width: 1690px;
  padding: 0 15px;
  margin: 0 auto;
}

.logo {
  color: #252525;
  font-family: "DM Sans";
  font-size: 3em;
  font-weight: 700;
}

.overlay {
  position: fixed;
  height: 100%;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.6);
  visibility: hidden;
  opacity: 0;
  transition: all 0.2s;
}
.overlay.active {
  visibility: visible;
  opacity: 1;
  z-index: 10;
}

.header {
  background-color: #D4F3E7;
  padding: 4em 15px;
}
.header__container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.header__button {
  color: #33B786;
  font-family: "DM Sans";
  font-size: 1.5rem;
  font-weight: 500;
  border-radius: 0.625rem;
  border: 3px solid #33B786;
  background: #D4F3E7;
  padding: 1em 2.5em;
  background-color: #D4F3E7;
  transition: all 0.2s;
  cursor: pointer;
}
.header__button:hover {
  background-color: #33B786;
  color: #fff;
}

.login {
  position: absolute;
  visibility: hidden;
  width: 100%;
  height: 100%;
  opacity: 0;
  left: 0;
  top: 0;
  display: flex;
  align-items: center;
  transition: all 1s;
  background-color: #D4F3E7;
}
.login.active {
  opacity: 1;
  visibility: visible;
  z-index: 10;
}
.login__box {
  border-radius: 2rem;
  background: #FFF;
  box-shadow: 0 0 150px 25px rgba(51, 183, 134, 0.25);
  padding: 4.4em 4.55em;
  width: 49.1875rem;
}
.login__title {
  color: #33B786;
  font-family: "DM Sans";
  font-size: 2.5rem;
  font-weight: 700;
  line-height: 114%;
  margin-bottom: 3.05rem;
}
.login__input {
  display: flex;
  flex-direction: column;
  gap: 0.44em;
  background-color: #fff;
  margin-bottom: 1.5rem;
}
.login__input label {
  color: #252525;
  font-family: "DM Sans";
  font-size: 1em;
  font-weight: 700;
}
.login__input input {
  font-family: "DM Sans";
  font-size: 1em;
  font-weight: 500;
  border-radius: 0.75rem;
  border: 1px solid #8A8A8A;
  background: #FFF;
  box-shadow: 0 0 50px 0.5px rgba(0, 0, 0, 0.05);
  padding: 1.31em 0 1.38em 1.5em;
}
.login__input input::-moz-placeholder {
  color: #B8B8B8;
}
.login__input input::placeholder {
  color: #B8B8B8;
}
.login__button {
  cursor: pointer;
  width: 100%;
  color: #FFF;
  text-align: center;
  font-family: "DM Sans";
  font-size: 1.5em;
  font-weight: 700;
  border-radius: 0.75rem;
  background: #33B786;
  box-shadow: 0 0 50px 0.5px rgba(0, 0, 0, 0.05);
  padding: 1rem;
  border: none;
  margin-top: 1.5em;
}

.dashboard {
  position: absolute;
  display: block;
  visibility: hidden;
  width: 100%;
  height: 100%;
  opacity: 0;
  left: 0;
  top: 0;
  background-color: #fff;
  transition: all 1s;
  z-index: -1;
}
.dashboard.active {
  opacity: 1;
  visibility: visible;
  z-index: initial;
}
.dashboard__container {
  position: relative;
  padding: 4em 15px;
  display: flex;
}
.dashboard__sidebar.sticky {
  padding-top: 4em;
  width: 8em;
  position: fixed;
  height: 100vh;
  top: 0;
  display: flex;
  flex-direction: column;
  overflow-y: auto;
}
.dashboard__logo {
  margin-bottom: 7.5rem;
}
.dashboard__sections-list {
  display: flex;
  flex-direction: column;
  gap: 2.5em;
}
.dashboard__item {
  color: #555;
  font-family: "DM Sans";
  font-size: 1.25rem;
  font-weight: 700;
  cursor: pointer;
  transition: color 0.2s;
}
.dashboard__item.active {
  color: #33B786;
}
.dashboard__logout {
  flex-grow: 0.8;
  color: #555;
  font-family: "DM Sans";
  font-size: 1.25rem;
  font-weight: 500;
  border: none;
  cursor: pointer;
  display: flex;
  align-items: flex-end;
}
.dashboard__content {
  position: relative;
  display: flex;
  flex: 0 1 100%;
  flex-direction: column;
  margin-left: 14.5em;
}
.dashboard__header {
  display: grid;
  justify-content: space-between;
  grid-template-columns: 1fr auto auto;
}
.dashboard__title {
  color: #252525;
  font-family: "DM Sans";
  font-size: 2.5rem;
  font-weight: 700;
}
.dashboard__account-info {
  text-align: right;
}
.dashboard__account-name {
  color: #33B786;
  font-family: "DM Sans";
  font-size: 1rem;
  font-weight: 500;
  margin-bottom: 0.25rem;
}
.dashboard__account-number {
  color: #252525;
  font-family: "Bebas Neue";
  font-size: 2.5rem;
  font-weight: 400;
  line-height: 1;
}
.dashboard__left {
  display: flex;
  align-items: center;
  margin-left: 6.94em;
  justify-content: space-between;
}
.dashboard__search {
  display: flex;
  align-items: center;
  flex: 0 0 22.5625rem;
  /* 361/16 */
}
.dashboard__search-icon {
  border: none;
  cursor: pointer;
  margin-right: 1em;
}
.dashboard__search-input {
  border: none;
  color: #8C8C8C;
  font-family: "DM Sans";
  font-size: 1rem;
  font-weight: 500;
}
.dashboard__notifications {
  margin-right: 2.5em;
}
.dashboard__img {
  border-radius: 50%;
}
.dashboard__img img {
  max-width: 100%;
  height: 56px;
  width: 56px;
  -o-object-fit: contain;
     object-fit: contain;
}
.dashboard__sections {
  position: relative;
  width: 100%;
  height: 100vh;
  margin-top: 5em;
}
.dashboard__section {
  visibility: hidden;
  opacity: 0;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  /* fills wrapper */
}
.dashboard__section.active {
  visibility: visible;
  opacity: 1;
  z-index: 3;
}
.dashboard__section--overview {
  display: grid;
  grid-template-columns: minmax(0, 54.57%) minmax(0, 36.91%);
  gap: 10px;
  justify-content: space-between;
}

.section__row {
  margin-bottom: 4.19em;
}
.section__header {
  margin-bottom: 2em;
  display: grid;
  grid-template-columns: 1fr auto auto;
  align-items: center;
  justify-content: space-between;
}
.section__title {
  color: #252525;
  font-family: "DM Sans";
  font-size: 1.5rem;
  font-weight: 700;
}
.section__hide {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 2.875rem;
  height: 2.875rem;
  border-radius: 0.5rem;
  background-color: #F0F0F0;
  margin-right: 1em;
  cursor: pointer;
}
.section__sort {
  cursor: pointer;
  display: flex;
  align-items: center;
  color: #555;
  font-family: "DM Sans";
  font-size: 0.75rem;
  font-weight: 700;
  line-height: 1;
}
.section__sort select {
  border: none;
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  width: 13.125rem;
  padding: 0.94em 2.56em 0.94em 3em;
  border-radius: 0.5rem;
  background: #F0F0F0;
}
.section__calendar {
  margin-right: -2.5em;
  z-index: 2;
}
.section__arrow {
  margin-left: -2em;
  z-index: 2;
}
.section__content {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}
.section__content-balance {
  border-radius: 0.75em;
  background: #D4F3E7;
  padding: 2.5em;
}
.section__block {
  padding: 0 2.5em;
  cursor: pointer;
  box-sizing: border-box;
}
.section__block h4 {
  color: #46237A;
  font-family: "DM Sans";
  font-size: 1em;
  font-weight: 500;
}
.section__block p {
  color: #252525;
  font-family: "Bebas Neue";
  font-size: 2em;
  font-weight: 400;
  line-height: 1;
  margin-top: 0.31rem;
}
.section__block.active {
  position: relative;
}
.section__block.active::before {
  content: "";
  position: absolute;
  height: 100%;
  background-color: #46237A;
  width: 0.5rem;
  left: 0;
  top: 0;
}
.section__block-value {
  min-width: 100.75px;
}
.section__content-accounts .section__block {
  border-radius: 0.75rem;
  background: #D4F3E7;
  padding: 2.6em 2.7em;
}
.section__content-accounts {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 2.87em;
}
.section__add {
  position: relative;
  width: 2.875rem;
  height: 2.875rem;
  background-color: #F0F0F0;
  border-radius: 0.5rem;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}
.section__add::before, .section__add::after {
  content: "";
  position: absolute;
  background-color: #555555;
  width: 16px;
  height: 3px;
  border-radius: 0.5rem;
}
.section__add::before {
  transform: rotate(90deg);
}
.section__statistics-sort select {
  padding: 0.94em 2.5em 0.94em 1.06em;
  width: initial;
}
.section__statistics .section__content {
  flex-direction: column;
  gap: 2.5em;
}
.section__statistics-row {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.section__statistics-row p {
  color: #555;
  font-family: "DM Sans";
  font-size: 1.25rem;
  font-weight: 700;
  line-height: 1;
}
.section__statistics-img {
  margin-right: 2.5em;
  width: 3em;
  height: 3em;
}
.section__statistics-img img {
  max-width: 100%;
}
.section__statistics-range {
  flex: 0 1 18.5em;
  margin: 0 4em;
  height: 1em;
  border-radius: 0.25rem;
}
.section__statistics-range span {
  display: block;
  height: 100%;
  border-radius: 0.25rem;
}
.section__statistics-range--income {
  background-color: #33B786;
  width: 90%;
}
.section__statistics-value {
  color: #555;
  font-family: "Bebas Neue";
  font-size: 2rem;
  font-weight: 400;
  line-height: 1;
}
.section__statistics-range--expense {
  width: 70%;
  background-color: #E74F5B;
}
.section__transactions-list li:last-child {
  border: none;
}
.section__transactions-info {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  justify-content: space-between;
  padding: 1em 0;
  align-items: center;
  border-bottom: 1px solid #D9D9D9;
}
.section__transactions-name, .section__transactions-date {
  color: #8C8C8C;
  font-family: "DM Sans";
  font-size: 1rem;
  font-weight: 500;
  line-height: 1;
}
.section__transactions-value {
  text-align: right;
  font-family: "Bebas Neue";
  font-size: 1.5rem;
  font-weight: 400;
  line-height: 1;
}
.section__transactions-value--withdrawal {
  color: #E74F5B;
}
.section__transactions-value--deposit {
  color: #33B786;
}
.section__banner {
  display: flex;
  flex-direction: column;
  margin-top: 2em;
  padding: 1.5em;
  width: 100%;
  height: 13.5625em;
  border-radius: 0.9375rem;
  background-image: url("../images/banner.svg");
  background-repeat: no-repeat;
  background-size: cover;
  color: #FFF;
  font-family: "DM Sans";
  font-size: 1rem;
  font-weight: 500;
  line-height: 1;
}
.section__banner span {
  display: block;
  font-weight: 700;
  font-size: 2em;
  color: #D4F3E7;
  margin-bottom: 0.2em;
}
.section__banner-btn {
  padding: 0.62rem;
  flex: 0 1 100%;
  cursor: pointer;
}

.section__accounts-row {
  display: grid;
  grid-template-columns: 3fr 1fr;
  justify-content: space-between;
  flex-wrap: wrap;
  gap: 4.06em;
}
.section__accounts-detailed {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 4.06em;
  flex-wrap: wrap;
}
.section__accounts-row .section__block {
  position: relative;
  border-radius: 0 0.75rem 0.75rem 0;
  background-color: #D4F3E7;
  padding: 2em;
}
.section__accounts-hide {
  position: absolute;
  top: 2rem;
  right: 2rem;
  cursor: pointer;
}
.section__accounts-buttons {
  display: flex;
  gap: 1.06em;
  margin-top: 1.5em;
}
.section__account-button {
  color: #252525;
  font-family: "DM Sans";
  font-size: 0.75rem;
  font-weight: 700;
  line-height: 1;
  border: none;
  border-radius: 0.375rem;
  cursor: pointer;
}
.section__accounts-fund {
  color: #fff;
  padding: 0.65rem 1.56rem;
  background-color: #33B786;
}
.section__accounts-withdraw {
  padding: 0.65rem 1.88rem 0.65rem 1.81rem;
  color: #252525;
  background-color: #D4D4D4;
}
.section__accounts-row .section__accounts-add {
  display: grid;
  align-items: center;
  grid-template-rows: auto 1fr;
  grid-template-columns: auto auto;
  background-color: rgba(240, 240, 240, 0.75);
  max-height: 11.5rem;
  box-sizing: border-box;
}
.section__accounts-row .section__accounts-add p {
  align-self: flex-end;
}
.section__accounts-row .section__accounts-add h4 {
  font-weight: 700;
  color: #555;
}
.section__accounts-add--btn {
  border: none;
  outline: none;
}
.section__transactions-btn {
  cursor: pointer;
  border: none;
  outline: none;
  display: flex;
  align-items: center;
  gap: 1em;
}
.section__transactions-btn span {
  color: #33B786;
  font-family: "DM Sans";
  font-size: 1rem;
  font-weight: 700;
  line-height: 1;
}
.section__transactions-list--full .section__transactions-info {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
}
.section__transactions-circle {
  position: relative;
  width: 2.5rem;
  height: 2.5rem;
  border-radius: 50%;
  background-color: #E74F5B;
  color: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
}
.section__transactions-circle--deposit {
  background-color: #33B786;
}
.section__transactions-circle--deposit::before, .section__transactions-circle--deposit::after {
  content: "";
  position: absolute;
  background-color: #fff;
  width: 12px;
  height: 2px;
  border-radius: 0.5rem;
}
.section__transactions-circle--deposit::before {
  transform: rotate(90deg);
}
.section__transactions-circle--withdrawal {
  background-color: #E74F5B;
}
.section__transactions-circle--withdrawal::after {
  content: "";
  position: absolute;
  background-color: #fff;
  width: 12px;
  height: 2px;
  border-radius: 0.5rem;
}
.section__transactions-source {
  color: #8C8C8C;
  font-family: "DM Sans";
  font-size: 1rem;
  font-weight: 500;
  line-height: 1;
}
.section__transactions-list--full .section__transactions-value {
  justify-self: center;
}
.section__transactions-status {
  justify-self: flex-end;
  padding: 0.6em 3.56em 0.6em 3.83em;
  color: #FFF;
  text-align: center;
  font-family: "DM Sans";
  font-size: 1rem;
  font-weight: 700;
  line-height: 1;
  border-radius: 0.5rem;
  background-color: #33B786;
}

.section__accounts-transactions {
  grid-template-columns: repeat(3, 1fr);
}
.section__transactions-all > .section__row {
  -moz-column-gap: 5.5em;
       column-gap: 5.5em;
}
.section__transactions-all > .section__row > .section__block {
  flex: 0 1 33%;
}

.account__modal, .account__message {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: #fff;
  max-height: 100%;
  box-sizing: border-box;
  border-radius: 1.5em;
  overflow: auto;
  transition: all 0.5s;
  padding: 4.5em 5em;
  border-radius: 2rem;
  box-shadow: 0 0 200px 25px rgba(51, 183, 134, 0.25);
  width: 29.8%;
  font-family: 1em;
  visibility: hidden;
  opacity: 0;
  overflow-y: auto;
}
.account__modal form, .account__message form {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
}
.account__modal.active, .account__message.active {
  visibility: visible;
  opacity: 1;
  z-index: 15;
}
.account__modal-add {
  height: 32.1875rem;
}
.account__modal-fund {
  margin-top: 3rem;
  padding-bottom: 5rem;
}
.account__modal-fund form {
  position: relative;
}
.account__fund-section {
  position: absolute;
  max-height: 0;
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
  visibility: hidden;
  opacity: 0;
  display: none;
  transition: max-height 0.4s ease, opacity 0.3s ease;
}
.account__fund-section.active {
  transition: all 0.3s;
  position: initial;
  visibility: visible;
  opacity: 1;
  display: flex;
  max-height: initial;
}
.account__title {
  color: #33B786;
  font-family: "DM Sans";
  font-size: 3rem;
  font-weight: 700;
  line-height: 114%;
  margin-bottom: 2.5rem;
}
.account__input {
  font-family: "DM Sans";
  font-size: 1rem;
  font-weight: 700;
  line-height: 1;
}
.account__input label {
  color: #252525;
  margin-bottom: 0.44rem;
  display: block;
}
.account__input input, .account__input select {
  font-family: "DM Sans";
  font-size: 1rem;
  font-weight: 700;
  line-height: 1;
  padding: 1.31rem 0 1.37em 1.5em;
  border-radius: 0.75rem;
  border: 1px solid #8A8A8A;
  box-shadow: 0 0 50px 0.5px rgba(0, 0, 0, 0.05);
  width: 100%;
  box-sizing: border-box;
}
.account__input input::-moz-placeholder, .account__input select::-moz-placeholder {
  color: #B8B8B8;
}
.account__input input::placeholder, .account__input select::placeholder {
  color: #B8B8B8;
}
.account__input select {
  color: #B8B8B8;
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
}
.account__input select option {
  color: #252525;
}
.account__input-select {
  display: grid;
  grid-template-columns: 1fr 1fr;
  justify-content: space-between;
  -moz-column-gap: 2.5rem;
       column-gap: 2.5rem;
}
.account__input-select h3 {
  grid-column: 1/-1;
  color: #252525;
  font-family: "DM Sans";
  font-size: 1rem;
  font-weight: 700;
  line-height: 1;
  margin-bottom: 0.44rem;
}
.account__input-radio {
  display: flex;
  align-items: center;
  border-radius: 0.75rem;
  border: 1px solid #8A8A8A;
  background: #FFF;
  box-shadow: 0 0 50px 0.5px rgba(0, 0, 0, 0.05);
  padding: 1.35rem 0rem 1.35rem 2rem;
  margin: 0;
}
.account__input-radio input[type=radio] {
  accent-color: #E74F5B;
}
.account__input-radio input {
  width: initial;
  margin: 0;
  margin-right: 0.5rem;
}
.account__buttons {
  display: flex;
  gap: 2.5rem;
  margin-top: 3rem;
  flex: 0 1 100%;
  justify-content: space-between;
}
.account__button {
  padding: 1.25rem 2rem;
  width: 100%;
  border-radius: 0.75rem;
  background-color: #D4D4D4;
  color: #252525;
  font-family: "DM Sans";
  font-size: 1.5rem;
  font-weight: 700;
  line-height: 1;
  max-height: 4rem;
}
.account__button-green {
  background-color: #33B786;
  color: #fff;
}
.account__message {
  position: fixed;
  width: 37.1%;
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
  height: 29.9375rem;
  justify-content: flex-end;
}
.account__message h3 {
  color: #6C6C6C;
  font-family: "DM Sans";
  font-size: 1.5rem;
  font-style: normal;
  font-weight: 700;
  line-height: 1;
  margin-bottom: 2rem;
}
.account__message h3 span {
  color: #33B786;
}
.account__message-add {
  height: 35.4375rem;
}