@use '_reset.scss';
@import url('https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');


html,
body {
    height: 100%;
}
button{
    border: none;
    outline: none;
}
body {
    font-size: 1rem;
    font-weight: 400;
    font-family: 'DM Sans', 'Bebas Neue' sans-serif;
    color: #555;
    line-height: 160%;
    /* 2.4rem */
    background-color: #fff;
}

.wrapper {
    min-height: 100%;
    display: flex;
    flex-direction: column;
    overflow: clip;
}

.wrapper main {
    flex-grow: 1;
}

[class*="__container"] {
    box-sizing: border-box;
    max-width: 1690px;
    padding: 0 15px;
    margin: 0 auto;
}

.logo {
    color: #252525;
    font-family: "DM Sans";
    font-size: 3em;
    font-weight: 700;
}

.header {
    background-color: #D4F3E7;
    padding: 4em 15px;

    &__container {
        display: flex;
        align-items: center;
        justify-content: space-between;
    }

    &__button {
        color: #33B786;
        font-family: "DM Sans";
        font-size: 1.5rem;
        font-weight: 500;
        border-radius: 0.625rem;
        border: 3px solid #33B786;
        background: #D4F3E7;
        padding: 1em 2.5em;
        background-color: #D4F3E7;
        transition: all 0.2s;
        cursor: pointer;

        &:hover {
            background-color: #33B786;
            color: #fff;
        }
    }
}

.login {
    position: absolute;
    visibility: hidden;
    width: 100%;
    height: 100%;
    opacity: 0;
    left: 0;
    top: 0;
    display: flex;
    align-items: center;
    transition: all 1s;

    &.active {
        opacity: 1;
        visibility: visible;
    }

    background-color: #D4F3E7;

    &__box {

        border-radius: 2rem;
        background: #FFF;
        box-shadow: 0 0 150px 25px rgba(51, 183, 134, 0.25);
        padding: 4.4em 4.55em;
        width: 49.1875rem;
    }

    // .login__title

    &__title {
        color: #33B786;
        font-family: "DM Sans";
        font-size: 2.5rem;
        font-weight: 700;
        line-height: 114%;
        margin-bottom: 3.05rem;
    }

    // .login__input

    &__input {
        display: flex;
        flex-direction: column;
        gap: 0.44em;
        background-color: #fff;
        margin-bottom: 1.5rem;

        & label {
            color: #252525;
            font-family: "DM Sans";
            font-size: 1em;
            font-weight: 700;
        }

        & input {
            font-family: "DM Sans";
            font-size: 1em;
            font-weight: 500;
            border-radius: 0.75rem;
            border: 1px solid #8A8A8A;
            background: #FFF;
            box-shadow: 0 0 50px 0.5px rgba(0, 0, 0, 0.05);
            padding: 1.31em 0 1.38em 1.5em;

            &::placeholder {
                color: #B8B8B8;
            }
        }
    }

    // .login__button

    &__button {
        cursor: pointer;
        width: 100%;
        color: #FFF;
        text-align: center;
        font-family: "DM Sans";
        font-size: 1.5em;
        font-weight: 700;
        border-radius: 0.75rem;
        background: #33B786;
        box-shadow: 0 0 50px 0.5px rgba(0, 0, 0, 0.05);
        padding: 1rem;
        border: none;
        margin-top: 1.5em;
    }
}

.dashboard {

    // position: absolute;
    // visibility: hidden;
    // width: 100%;
    // height: 100%;
    // opacity: 0;
    // left: 0;
    // top: 0;
    // display: flex;
    // align-items: center;
    // transition: all 1s;
    &.active {
        opacity: 1;
        visibility: visible;
    }

    // .dashboard__container

    &__container {
        position: relative;
        padding: 4em 15px;
        display: flex;
    }

    // .dashboard__sidebar

    &__sidebar {
        &.sticky {
            position: fixed;
            height: 884px;
            width: 126.44px;
            left: 0;
            top: 0;
        }
    }

    // .dashboard__logo

    &__logo {
        margin-bottom: 7.5rem;
    }

    // .dashboard__sections-list

    &__sections-list {
        display: grid;
        gap: 2.5em;
        margin-bottom: 30.5em;
    }

    // .dashboard__item

    &__item {
        color: #555;
        font-family: "DM Sans";
        font-size: 1.25rem;
        font-weight: 700;
        cursor: pointer;
        transition: color 0.2s;

        &.active {
            color: #33B786;
        }
    }


    // .dashboard__logout

    &__logout {
        color: #555;
        font-family: "DM Sans";
        font-size: 1.25rem;
        font-weight: 500;
        border: none;
        cursor: pointer;
    }

    &__content {
        position: relative;
        display: flex;
        flex: 0 1 100%;
        flex-direction: column;
        margin-left: 6.5em;
    }

    // .dashboard__header

    &__header {
        display: grid;
        justify-content: space-between;
        grid-template-columns: 1fr auto auto;
    }

    // .dashboard__title

    &__title {
        color: #252525;
        font-family: "DM Sans";
        font-size: 2.5rem;
        font-weight: 700;
    }

    // .dashboard__account-info

    &__account-info {
        text-align: right;
    }

    // .dashboard__account-name

    &__account-name {
        color: #33B786;
        font-family: "DM Sans";
        font-size: 1rem;
        font-weight: 500;
        margin-bottom: 0.25rem;
    }

    // .dashboard__account-number

    &__account-number {
        color: #252525;
        font-family: "Bebas Neue";
        font-size: 2.5rem;
        font-weight: 400;
        line-height: 1;
    }

    // .dashboard__left

    &__left {
        display: flex;
        align-items: center;
        margin-left: 6.94em;
        justify-content: space-between;
    }

    // .dashboard__search

    &__search {
        display: flex;
        align-items: center;
        flex: 0 0 22.5625rem;
        /* 361/16 */
    }

    // .dashboard__search-icon

    &__search-icon {
        border: none;
        cursor: pointer;
        margin-right: 1em;
    }

    // .dashboard__search-input

    &__search-input {
        border: none;
        color: #8C8C8C;
        font-family: "DM Sans";
        font-size: 1rem;
        font-weight: 500;
    }

    // .dashboard__notifications

    &__notifications {
        margin-right: 2.5em;
    }

    // .dashboard__img

    &__img {
        border-radius: 50%;

        & img {
            max-width: 100%;
            height: 56px;
            width: 56px;
            object-fit: contain;
        }
    }

    // .dashboard__section
    &__section {
        margin-top: 9em;

        position: absolute;
        visibility: hidden;
        width: 100%;
        height: 100%;
        opacity: 0;
        left: 0;
        top: 0;

        &.active {
            visibility: visible;
            opacity: 1;
        }
    }

    &__section--overview {
        display: grid;
        grid-template-columns: 54.57% 36.91%;
        justify-content: space-between;
    }

}

.section {
    // .section__column

    &__column {}

    // .section__row

    &__row {
        margin-bottom: 4.19em;
    }

    // .section__header

    &__header {
        margin-bottom: 2em;
        display: grid;
        grid-template-columns: 1fr auto auto;
        align-items: center;
        justify-content: space-between;
    }

    // .section__title

    &__title {
        color: #252525;
        font-family: "DM Sans";
        font-size: 1.5rem;
        font-weight: 700;
    }

    // .section__hide

    &__hide {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 2.875rem;
        height: 2.875rem;
        border-radius: 0.5rem;
        background-color: #F0F0F0;
        margin-right: 1em;
        cursor: pointer;
    }

    // .section__sort

    &__sort {
        cursor: pointer;
        display: flex;
        align-items: center;
        color: #555;
        font-family: "DM Sans";
        font-size: 0.75rem;
        font-weight: 700;
        line-height: 1;

        & select {
            border: none;
            appearance: none;
            width: 13.125rem;
            padding: 0.94em 2.56em 0.94em 3em;
            border-radius: 0.5rem;
            background: #F0F0F0;
        }
    }

    // .section__arrow
    &__calendar {
        margin-right: -2.5em;
        z-index: 2;
    }

    &__arrow {
        margin-left: -2em;
        z-index: 2;
    }

    // .section__content

    &__content {
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
    }

    &__content-balance {
        border-radius: 0.75em;
        background: #D4F3E7;
        padding: 2.5em;
    }

    // .section__logo

    &__logo {}

    // .section__block

    &__block {
        padding: 0 2.5em;
        cursor: pointer;

        & h4 {
            color: #46237A;
            font-family: "DM Sans";
            font-size: 1em;
            font-weight: 500;
        }

        & p {
            color: #252525;
            font-family: "Bebas Neue";
            font-size: 2em;
            font-weight: 400;
            line-height: 1;
            margin-top: 0.31rem;
        }

        &.active {
            position: relative;

            &::before {
                content: '';
                position: absolute;
                height: 100%;
                background-color: #46237A;
                width: 0.5rem;
                left: 0;
                top: 0;
            }
        }
    }
    &__block-value{
        min-width: 100.75px;
    }

    &__content-accounts &__block {
        border-radius: 0.75rem;
        background: #D4F3E7;
        padding: 2.6em 2.7em;
    }

    // .section__add

    &__add {
        position: relative;
        width: 2.875rem;
        height: 2.875rem;
        background-color: #F0F0F0;
        border-radius: 0.5rem;
        display: flex;
        align-items: center;
        justify-content: center;
        cursor: pointer;

        &::before,
        &::after {
            content: '';
            position: absolute;
            background-color: #555555;
            width: 16px;
            height: 3px;
            border-radius: 0.5rem;
        }

        &::before {
            transform: rotate(90deg);
        }
    }


    &__statistics-sort {
        & select {
            padding: 0.94em 2.5em 0.94em 1.06em;
            width: initial;
        }
    }

    &__statistics &__content {
        flex-direction: column;
        gap: 2.5em;
    }

    // .section__statistics-row

    &__statistics-row {
        display: flex;
        justify-content: space-between;
        align-items: center;

        & p {
            color: #555;
            font-family: "DM Sans";
            font-size: 1.25rem;
            font-weight: 700;
            line-height: 1;
        }
    }

    // .section__statistics-img

    &__statistics-img {
        & img {
            max-width: 100%;

        }

        margin-right: 2.5em;
        width: 3em;
        height: 3em;
    }

    // .section__statistics-range

    &__statistics-range {
        flex: 0 1 18.5em;
        margin: 0 4em;
        height: 1em;
        border-radius: 0.25rem;

        & span {
            display: block;
            height: 100%;
            border-radius: 0.25rem;
        }
    }

    // .section__statistics-range--income

    &__statistics-range--income {
        background-color: #33B786;
        width: 90%;
    }

    // .section__statistics-value

    &__statistics-value {
        color: #555;
        font-family: "Bebas Neue";
        font-size: 2rem;
        font-weight: 400;
        line-height: 1;
    }

    // .section__statistics-value--income

    &__statistics-value--income {}

    // .section__statistics-range--expense

    &__statistics-range--expense {
        width: 70%;
        background-color: #E74F5B;
        ;
    }

    // .section__statistics-value--expense

    &__statistics-value--expense {}



    // .section__transactions-list

    &__transactions-list {
        & li:last-child {
            border: none;
        }
    }

    // .section__transactions-info

    &__transactions-info {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        justify-content: space-between;
        padding: 1em 0;
        align-items: center;
        border-bottom: 1px solid #D9D9D9;
    }

    // .section__transactions-name

    &__transactions-name,
    &__transactions-date {
        color: #8C8C8C;
        font-family: "DM Sans";
        font-size: 1rem;
        font-weight: 500;
        line-height: 1;
    }

    // .section__transactions-date

    &__transactions-date {}

    // .section__transactions-value

    &__transactions-value {

        text-align: right;
        font-family: "Bebas Neue";
        font-size: 1.5rem;
        font-weight: 400;
        line-height: 1;
    }

    &__transactions-value--withdrawal {
        color: #E74F5B;
    }

    &__transactions-value--deposit {
        color: #33B786;
    }

    // .section__banner

    &__banner {
        display: flex;
        flex-direction: column;
        margin-top: 2em;
        padding: 1.5em;
        width: 100%;
        height: 13.5625em;
        border-radius: 0.9375rem;
        background-image: url('../images/banner.svg');
        background-repeat: no-repeat;
        background-size: cover;
        color: #FFF;
        font-family: "DM Sans";
        font-size: 1rem;
        font-weight: 500;
        line-height: 1;

        & p {}

        & span {
            display: block;
            font-weight: 700;
            font-size: 2em;
            color: #D4F3E7;
            margin-bottom: 0.2em;
        }
    }

    &__banner-btn {
        padding: 0.62rem;
        flex: 0 1 100%;
        cursor: pointer;
    }
}

.section {
    // ? section accounts


    // .section__accounts-row

    &__accounts-row {
        display: flex;
        justify-content: space-between;
        gap: 4.06em;
    }
    &__accounts-detailed{
        flex: 0 1 79%;
        display: flex;
        justify-content: space-between;
    }
    &__accounts-row &__block {
        position: relative;
        border-radius: 0 0.75rem 0.75rem 0;
        background-color: #D4F3E7;
        padding: 2em;
    }



    // .section__accounts-hide

    &__accounts-hide {
        position: absolute;
        top: 2rem;
        right: 2rem;
        cursor: pointer;
    }

    // .section__accounts-buttons
    &__accounts-buttons {
        display: flex;
        gap: 1.06em;
        margin-top: 1.5em;
    }

    &__account-button {
        color: #252525;
        font-family: "DM Sans";
        font-size: 0.75rem;
        font-weight: 700;
        line-height: 1;
        border: none;
        border-radius: 0.375rem;
        cursor: pointer;
    }


    // .section__accounts-fund

    &__accounts-fund {
        color: #fff;
        padding: 0.65rem 1.56rem;
        background-color: #33B786;
    }

    &__accounts-withdraw {
        padding: 0.65rem 1.88rem 0.65rem 1.81rem;
        color: #252525;
        background-color: #D4D4D4;
    }

    // .section__accounts-add

    &__accounts-row &__accounts-add {
        display: grid;
        align-items: center;
        grid-template-rows: auto 1fr;
        grid-template-columns: auto auto;
        background-color: rgba(240, 240, 240, 0.75);

        & p {
            align-self: flex-end;
        }

        & h4 {
            font-weight: 700;
            color: #555;
        }
    }

    // .section__add

    &__add {}

    // .section__accounts-add--btn

    &__accounts-add--btn {
        border: none;
        outline: none;
    }

    // .section__transactions

    &__transactions {}

    // .section__header

    &__header {}

    // .section__transaction-header

    &__transaction-header {}

    // .section__title

    &__title {}

    // .section__transactions-btn

    &__transactions-btn {
        cursor: pointer;
        border: none;
        outline: none;
        display: flex;
        align-items: center;
        gap: 1em;

        & span {
            color: #33B786;
            font-family: "DM Sans";
            font-size: 1rem;
            font-weight: 700;
            line-height: 1;
        }
    }

    // .section__transactions-list

    &__transactions-list {}

    // .section__transactions-info

    &__transactions-list--full &__transactions-info {
        display: grid;
        grid-template-columns: repeat(5, 1fr);
    }

    // .section__transactions-circle

    &__transactions-circle {
        position: relative;
        width: 2.5rem;
        height: 2.5rem;
        border-radius: 50%;
        background-color: #E74F5B;
        color: #fff;
        display: flex;
        align-items: center;
        justify-content: center;

    }

    &__transactions-circle--deposit {
        background-color: #33B786;

        &::before,
        &::after {
            content: '';
            position: absolute;
            background-color: #fff;
            width: 12px;
            height: 2px;
            border-radius: 0.5rem;
        }

        &::before {
            transform: rotate(90deg);
        }

    }

    &__transactions-circle--withdrawal {
        background-color: #E74F5B;

        &::after {
            content: '';
            position: absolute;
            background-color: #fff;
            width: 12px;
            height: 2px;
            border-radius: 0.5rem;
        }
    }

    // .section__transactions-name

    &__transactions-name {}

    // .section__transactions-source

    &__transactions-source {
        color: #8C8C8C;
        font-family: "DM Sans";
        font-size: 1rem;
        font-weight: 500;
        line-height: 1;
    }

    // .section__transactions-date

    &__transactions-date {}

    // .section__transactions-value

    &__transactions-list--full &__transactions-value {
        justify-self: center;
    }

    &__transactions-status {
        justify-self: flex-end;
        padding: 0.6em 3.56em 0.6em 3.83em;
        color: #FFF;
        text-align: center;
        font-family: "DM Sans";
        font-size: 1rem;
        font-weight: 700;
        line-height: 1;
        border-radius: 0.5rem;
        background-color: #33B786;
    }
}

.section {
    // ? section transactions


    &__transactions-all>&__row {
        column-gap: 5.5em;
    }

    &__transactions-all>&__row>&__block {
        width: 100%;
    }
}