@font-face {
  font-family: 'icomoon';
  src:  url('fonts/icomoon.eot?nhqps9');
  src:  url('fonts/icomoon.eot?nhqps9#iefix') format('embedded-opentype'),
    url('fonts/icomoon.ttf?nhqps9') format('truetype'),
    url('fonts/icomoon.woff?nhqps9') format('woff'),
    url('fonts/icomoon.svg?nhqps9#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: never;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-fi-rr-pencil:before {
  content: "\e900";
  color: #000;
}
.icon-fi-rr-lock:before {
  content: "\e903";
  color: #b8b8b8;
}
.icon-fi-rr-envelope:before {
  content: "\e904";
  color: #b8b8b8;
}
.icon-fi-rr-arrow-left:before {
  content: "\e905";
  color: #555;
}
.icon-fi-rr-user:before {
  content: "\e906";
  color: #b8b8b8;
}
.icon-fi-rr-credit-card:before {
  content: "\e907";
  color: #555;
}
.icon-fi-sr-apps:before {
  content: "\e908";
  color: #33b786;
}
.icon-fi-br-arrow-small-right:before {
  content: "\e909";
  color: #33b786;
}
.icon-facebook:before {
  content: "\e90a";
  color: #fff;
}
.icon-instagram:before {
  content: "\e90b";
}
.icon-twitter:before {
  content: "\e90c";
}
